@import url(./general.css);
@import url(./menu.css);

.section {
    width: 100%;
    height: auto;
    padding: 30px 330px 216px 240px;
    display: flex;
    gap: 166px;
}

p {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: #101010;
}

.two-carts {
    margin: 40px 0 106px 4px;
}

.left-bottom {
    display: flex;
    gap: 110px;
}

.bottom-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.grey,
.red {
    width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grey button {
    width: 150px;
    height: 74px;
    border-radius: 50px;
    background: #ECECEC;
    font-weight: 600;
    font-size: 36px;
    color: #101010;
}

.red button {
    width: 150px;
    height: 74px;
    border-radius: 50px;
    background: #DB0012;
    font-weight: 600;
    font-size: 36px;
    color: #101010;
}

.bottom-right {
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
}

.bottom-right button {
    width: 200px;
    height: 93px;
    color: white;
    background: #101010;
    border-radius: 100px;
    font-weight: 600;
    font-size: 60px;
}

.sec-right {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sec-right>p {
    margin-bottom: 10px;
}

input:not(.quantity) {
    width: 540px;
    height: 79px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #ECECEC;
    border: 2px solid #101010;
    border-radius: 50px;
    cursor: pointer;
}

.inputs {
    position: relative;
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.inputs input {
    width: 260px;
    height: 79px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #ECECEC;
    border: 2px solid #101010;
    border-radius: 50px;
    position: relative;
}

::placeholder {
    font-weight: 600;
    font-size: 24px;
    color: #DBDBDB;
    text-align: center;
}

.sec-right button {
    width: 261px;
    height: 79px;
    background: #407536;
    border-radius: 100px;
    font-weight: 600;
    font-size: 40px;
    color: #FFFFFF;
    position: relative;
    transform: translateX(50%);
}

input[type="file"] {
    content-visibility: hidden;

}


input[type="date"] {
    color: white;
    padding-right: 70px;
    font-size: larger;
}

.label1 {
    font-weight: 600;
    font-size: 24px;
    color: #DFDFDF;
    position: absolute;
    left: 86.5px;
    bottom: 25px;
}

.label2 {
    position: absolute;
    right: 103.5px;
    bottom: 25px;
    font-weight: 600;
    font-size: 24px;
    color: #DFDFDF;
}